struct matriz
{ 
   char m[50][50];
   };
int llenar_con_cadena (matriz vec[50], char cad[100], int n)
{
   int i,j,k;
   int c;
   c=0;
   for (i=0;i<n;i++)
   {  
       for (j=0;j<n;j++)
       {
          for (k=0;k<n;k++)
          {
            vec[j].m[i][k] = cad[c];
            c++;
            if (cad[c] == ´\0´)
            {
              c = 0;
              }
            }
          }
        }
      }  
